@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.97em;
}

#navbar{
    position: fixed;
    width:20vw;
    border-right: 3px solid gray;
    height: 100vh;
}



#main-doc{
    position: absolute;
    width: 80vw;
    left:20vw;
}

#navbar > .heading{
    width: 100%;
    text-align: center;
    padding: 1rem 0;

}
#navbar a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;

}
#navbar ul{
    height: 92vh;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar ul li a{
    border-top: 2px solid gray;
    padding: 1rem 0 1rem 3rem;
}

#navbar ul li{
    list-style: none;
}

#navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

p{
    padding-left: 4rem;
    padding-right:2rem;
    margin: 1rem 0;
    line-height: 1.5rem;
}

#main-doc ul{
    padding: 0 2rem 0 7rem;
    margin: 1rem 0;
}
#main-doc ul li{
    margin: 1rem 0;
}

code{
    display: block;
    background-color: #d3d3d3;
    font-size: 0.8rem;
    border-radius: 2px;
    margin: 1rem 0;
    padding: 1rem 50% 1rem 1rem;
    line-height: 2.2rem;
}


.heading{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 2rem;
}


@media only screen and (max-width: 1000px){
    *{
        font-size: 0.7rem;
    }
    .heading{
        font-size: 0.9rem;
    }
    #navbar ul li a{
        font-size: 0.7rem;
    }
    #navbar{
        width:25vw;
    }
    #main-doc{
        position: absolute;
        width: 75vw;
        left:25vw;
    }
}

@media only screen and (max-width: 400px) {

 * {
     font-size: 0.5rem;
 }
.heading{
    font-size: 0.7rem;
}
#navbar ul li a{
    font-size: 0.5rem;
}
#navbar{
    width:25vw;
}
#main-doc{
    position: absolute;
    width: 75vw;
    left:25vw;
}
}



